*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding: 4rem;
    
}
table {
    margin: 0 auto;
    color: white;
    background-color: #704c50;
    border-radius: 4px;
}

tr, th, td {
height: 5rem;
width: 10rem;
font-size: 1rem;
text-align: center;
}

thead, .blue{
    background-color:  rgb(169, 169, 197);
}

h3 {
    text-align: center;
    margin: 10px;
    font-size: 40px;
}





